//- вывод одноуровнего меню
mixin list(ul_cls, li_cls, a_cls, ...items)
    ul(class=ul_cls)
        each item in items
            li(class=li_cls)
                a(class=a_cls, href="#")= item

//- вывод многоуровнего меню
mixin multi-list(data)
    ul
        each item in data.items
            li= item.title
            if item.sublevel
                +list(item)

//- var data = {"title": "Title text", "items": [{"title": "Item 1"}, {"title": "Item 2", "sublevel": true, "items": [{"title": "Item 2.1"}, {"title": "Item 2.2"}]}, {"title": "Item 3"}] }

mixin input-text(cls, placeholder)
    input(class=cls, type="text", placeholder=placeholder)

mixin input-pass(cls, placeholder)
    input(class=cls, type="password", placeholder=placeholder)

mixin input-check(cls)
    input(class=cls, type="checkbox")

mixin input-radio(cls)
    input(class=cls, type="radio")

mixin textarea(cls, placeholder)
    textarea(class=cls, placeholder=placeholder)